@import 'tailwindcss';

@layer base {
	* {
		@apply border-border outline-none;
	}
	body {
		@apply font-sans text-md bg-bg text-fg select-none selection:bg-highlight selection:text-fg;
	}
	::-webkit-scrollbar {
		@apply hidden;
	}
	.lucide {
		@apply size-16 text-current;
	}
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

@font-face {
	font-family: 'Inter_sans';
	src: url('/inter-sans[opsz,wght].ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Roboto_mono';
	src: url('/roboto-mono[wght].ttf') format('truetype');
	font-weight: 200 600;
	font-style: normal;
	font-display: block;
}

:root {
	--radius: 0.5rem;

	--sans: 'Inter_sans', ui-sans-serif;
	--mono: 'Roboto_mono', ui-monospace;

	--bg: oklch(1 0 0);
	--highlight: oklch(84.567% 0.0767 259.48);

	--fg: oklch(0.145 0 0);
	--muted: oklch(0.7 0 0);
	--border: oklch(0.922 0 0);
	--accent: oklch(0.97 0 0);

	--error-fg: oklch(0.577 0.245 27.325);
	--error-muted: oklch(78.043% 0.12883 17.444);
	--error-border: oklch(91.042% 0.04485 14.475);
	--error-accent: oklch(96.941% 0.01515 12.013);

	--chart-o: oklch(70.297% 0.18326 50.968);
	--chart-y: oklch(87.3% 0.17854 92.233);
	--chart-g: oklch(65.027% 0.18283 148.924);
	--chart-b: oklch(56.638% 0.18398 256.231);
	--chart-p: oklch(60.033% 0.24729 345.401);
}

@theme {
	--*: initial;

	--spacing: 0.0625rem;

	/* --radius-sm: calc(var(--radius) - 2px); */
	--radius-md: var(--radius);
	--radius-lg: calc(var(--radius) + 2px);

	--font-sans: var(--sans);
	--font-mono: var(--mono);

	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 500;

	--text-sm: 0.75rem;
	--text-sm--line-height: calc(1 / 0.75);
	--text-md: 0.875rem;
	--text-md--line-height: calc(1.25 / 0.875);
	--text-lg: 1rem;
	--text-lg--line-height: calc(1.5 / 1);

	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

	--color-bg: var(--bg);
	--color-highlight: var(--highlight);

	--color-fg: var(--fg);
	--color-muted: var(--muted);
	--color-border: var(--border);
	--color-accent: var(--accent);

	--color-error-fg: var(--error-fg);
	--color-error-muted: var(--error-muted);
	--color-error-border: var(--error-border);
	--color-error-accent: var(--error-accent);

	--color-chart-o: var(--chart-o);
	--color-chart-y: var(--chart-y);
	--color-chart-g: var(--chart-g);
	--color-chart-b: var(--chart-b);
	--color-chart-p: var(--chart-p);

	--animate-spin: spin 1s linear infinite;

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}

@utility orient-h {
	writing-mode: initial;
}

@utility orient-v {
	writing-mode: sideways-lr;
}

@utility place-bottom-middle {
	position-area: bottom span-all;
}

@utility place-bottom-right {
	position-area: bottom span-right;
}

@utility place-right-middle {
	position-area: right span-all;
}

@utility delay-hide {
	@apply transition-discrete transition-[display] delay-500;
}
