@import 'tailwindcss';

@layer base {
	* {
		@apply border-border outline-none;
	}
	body {
		@apply font-sans text-md bg-bg text-fg selection:bg-highlight selection:text-fg;
	}
	.lucide {
		@apply size-4;
	}
}

@font-face {
	font-family: 'Inter_sans';
	src: url('/Inter_sans[opsz,wght].ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Roboto_mono';
	src: url('/Roboto_mono[wght].ttf') format('truetype');
	font-weight: 200 600;
	font-style: normal;
	font-display: block;
}

:root {
	--radius: 0.5rem;

	--sans: 'Inter_sans', ui-sans-serif;
	--mono: 'Roboto_mono', ui-monospace;

	--bg: oklch(1 0 0);
	--highlight: oklch(0.945 0.129 101.54);

	--fg: oklch(0.145 0 0);
	--muted: oklch(0.68 0 0);
	--border: oklch(0.922 0 0);
	--accent: oklch(0.97 0 0);

	--error-fg: oklch(0.577 0.245 27.325);
	--error-muted: oklch(78.043% 0.12883 17.444);
	--error-border: oklch(91.042% 0.04485 14.475);
	--error-accent: oklch(96.941% 0.01515 12.013);

	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
}

@theme {
	--*: initial;

	--spacing: 0.25rem;

	--container-sm: 8rem; /* field width */
	--container-md: 24rem; /* dialog width */

	--radius-sm: calc(var(--radius) - 2px);
	--radius-md: var(--radius);
	--radius-lg: calc(var(--radius) + 2px);

	--font-sans: var(--sans);
	--font-mono: var(--mono);

	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 500;

	--text-sm: 0.75rem;
	--text-sm--line-height: calc(1 / 0.75);
	--text-md: 0.875rem;
	--text-md--line-height: calc(1.25 / 0.875);
	--text-lg: 1rem;
	--text-lg--line-height: calc(1.5 / 1);

	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

	--color-bg: var(--bg);
	--color-highlight: var(--highlight);

	--color-fg: var(--fg);
	--color-muted: var(--muted);
	--color-border: var(--border);
	--color-accent: var(--accent);

	--color-error-fg: var(--error-fg);
	--color-error-muted: var(--error-muted);
	--color-error-border: var(--error-border);
	--color-error-accent: var(--error-accent);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--animate-spin: spin 1s linear infinite;

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}

@utility orient-h {
	writing-mode: initial;
}

@utility orient-v {
	writing-mode: sideways-lr;
}

@utility place-bottom-middle {
	position-area: bottom span-all;
}

@utility place-bottom-right {
	position-area: bottom span-right;
}

@utility place-right-middle {
	position-area: right span-all;
}
